<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CursoASPConnectionString" connectionString="Data Source=localhost;Initial Catalog=CursoASP;Integrated Security=True;UID=sa;PWD=sitekcode;"
      providerName="System.Data.SqlClient" />
    <add name="core_v2ConnectionString" connectionString="Data Source=localhost;Initial Catalog=core_v2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.asp"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>